@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}

.btn-bg {
  background: linear-gradient(130.88deg, #a854e9 -9.14%, #4f91fc 283.16%);
}
.btn-bg:hover {
  background: linear-gradient(130.88deg, #ffffff -9.14%, #ffffff 283.16%);
  color: black;
  transition: 400ms ease-in;
}
.left0 {
  left: 0 !important;
}
.left-00 {
  left: -100% !important;
}
.container-bg {
  background: linear-gradient(130.88deg, #a854e9 -9.14%, #4f91fc 283.16%);
}
